extends layout

block content
  .reveal
    .slides
      section.title-slide
        p.logo Netlify

      section.light-slide
        section
          p
            | Netlify is a platform that integrates and automates all services needed to deploying and maintaining
            span.accent  modern websites
          ul.small
            li.fragment Git-integrated
            li.fragment Dynamic JavaScript
            li.fragment Build tools: Webpack, Gulp, and Browserify
            li.fragment APIs

        section
          p.center
            br
            img(data-src='/img/jamstack_logo.png', alt='jamstack', style="opacity: .8; width: 22.8em; vertical-align: text-bottom;")
          p.fragment.center
            | JavaScript, APIs, and Markup
            br
            span.accent (modern websites)
        section.icons
          a(href='https://github.com/netlify/netlify-cms')
            img(data-src='https://pbs.twimg.com/profile_images/808428374641098752/SI6v7WoH.jpg', alt='google-logo',
            style="width: 300px; opacity: .8; margin-top: 3em; vertical-align: text-bottom;" )
          a(href='https://github.com/netlify/netlify-cms')
            img(data-src='/img/cms.png', alt='google-logo',
            style="width: 600px; opacity: .8; margin-top: 3em; vertical-align: text-bottom;" )

      section.title-slide
        section
          h1 Let's Talk
          p
            br
            a(href="https://twitter.com/bdougieYO") @bdougieYO
            br
            br
            a(href="mailto:brian@netlify.com") brian@netlify.com
            br
            a(href="https://pizza.netlify.com") pizza.netlify.com
        section
          h1 Links
          p
            br
            a(href="https://github.com/netlify/netlify-cms") github.com/netlify/netlify-cms
            br
            a(href="http://netlify.com/") netlify.com
            br
            a(href="http://templates.netlify.com/") CMS Templates
  script(src='lib/js/head.min.js')
  script(src='js/reveal.js')
  script.
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    transition: 'slide', // none/fade/slide/convex/concave/zoom
    // More info https://github.com/hakimel/reveal.js#dependencies
    dependencies: [
    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
    { src: 'plugin/zoom-js/zoom.js', async: true },
    { src: 'plugin/notes/notes.js', async: true }
    ]
    });
